<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.PollBuzz.pollbuzz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        tools:targetApi="q">
        <activity android:name="Utils.DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--URL is https://pollbuzz.com/share-->
                <data
                    android:scheme="https"
                    android:pathPrefix="/share"
                    android:host="pollbuzz.com"
                    />

            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="Utils.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="PollBuzz" />

        <activity
            android:name=".results.PieChartActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".results.PercentageResult"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".results.Image_type_result"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".results.Ranking_type_result"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".responses.Image_type_responses"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".responses.Ranking_type_response"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".results.ResultActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".results.Descriptive_type_result"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".results.Multiple_type_result"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".results.Single_type_result"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".navFragments.VotedFeed"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".navFragments.HomeFeed"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".responses.Multiple_type_response"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".responses.Descriptive_type_response"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".LoginSignup.ProfileSetUp"
            android:screenOrientation="unspecified" />
        <activity
            android:name="Utils.AuthCheck"
            android:screenOrientation="unspecified" />
        <activity
            android:name="Utils.ImagePickerActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".responses.Single_type_response"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".polls.Image_type_poll"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".polls.Ranking_type_poll"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".polls.Descriptive_type_poll"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".polls.Multiple_type_poll"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".PollList"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".polls.Single_type_poll"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".LoginSignup.LoginSignupActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>